<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" class="logo" src="https://image.flaticon.com/icons/svg/579/579514.svg">
        MyExpenses
      </a>
    </div>
    <div class="navbar-header navbar-text navbar-right">
      <p>{{ totalLabel }} = {{ total  | currency:'BRL' }}</p>
    </div>
  </div>
</nav>
<h2 *ngIf="expenses && !expenses.length" class="text-center">{{ noExpenseTitle }}</h2>
<div *ngIf="expenses && expenses.length" class="container">
  <div class="panel panel-default" *ngFor="let exp of expenses; let i = index">
    <div class="panel-heading">
      <h3 class="panel-title">{{ exp.title }}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <p class="value">{{ exp.value | currency:'BRL' }}</p>

          <p [ngStyle]="{'color': getColor(exp.category)}">{{ exp.category }}</p>
        </div>
        <div class="col-md-6 col-xs-6">
          <p class="text-right">{{ exp.date | date: 'dd/MM/yyyy' }}</p>
          <button type="button" class="btn btn-link" (click)="deleteExpense(i)" style="float: right;">
            <span class="glyphicon glyphicon-trash text-danger" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="add-button" type="button" (click)="openModal()">{{ buttonLabel }}</button>
<add-expense (expensesChanged)="updateList()" *ngIf="isOpen"></add-expense>