.add-button {
	background: none;
	border: none;
	width: 100%;
	position: fixed;
	bottom: 0px;
	right: 0px;
	background-color: #B6B37E;
	height: 8rem;
	color: #251B4E;
	font-size: 2rem;
}

.container {
	padding: 8rem 0;
}

.panel-heading {
	color: #BFB7E6;
	background-color: #403874;
}