.modal-dialog {
  margin: 0!important;
  position: fixed;
  z-index: 1;
  width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 992px) {
  .modal-dialog {
    transform: translate(-50%, -60%);
  }
}