.logo {
	width: 3rem;
	display: -webkit-inline-box;
	margin-right: 1rem;
}

.value {
	font-weight: 500;
}

.navbar-default {
	background-color: #403874;
}

.navbar-header {
	.total, .title-logo {
		color: #BFB7E6;
	}

	.total {
		font-size: 2rem;
	}

	.title-logo {
		display: -webkit-inline-box;
	}
}

.navbar {
	border: none;
	border-radius: 0;
	position: fixed;
    width: 100%;
}